 .sidebar {
    position: fixed;
    width: 15%;
    height: 100%;
    background: #112130;
    padding-top: 20px;
    display: inline-block;
    overflow-x: hidden;
    left: 0;
    top:0;
}

li {
    padding: 10px 15px;
    font-family: "Rubik";
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px -10px;
}

ul {
    list-style-type: none;
    margin-top:100px;
}

a {
    color:gainsboro;
}